
<div class="row">

    <div class="col-md-3">
	
	    <ul class="nav nav-pills nav-stacked on-click-make-active">
	     
		    <!-- Loads the admin.postList state, doesn't contain anything now-->
		    <li>
				<a ui-sref="admin.postList">
					View All Posts
				</a>
			</li>
			
			<!-- Loads the admin.postNew state-->
			<li class="active">
				<a ui-sref="admin.postNew">
					Add Post
				</a>
			</li>
	    </ul>
	</div>
	
	<div class="col-md-9 border-left">
	
		<!-- the nested views are loaded here -->
		<div ui-view></div>
		
	</div>
</div>