
<div class="row">	
	<div class="col-xs-12">
		
		<h3>
			{{'COMMENTS' | translate}}
		</h3>
		<br />
		
		<textarea cols="40" rows="5" class="form-control" placeholder="Type your comment here" ng-model="comment.content">
		</textarea>
		<br />
		
		{{'BY' | translate}}: 
		<input type="text" class="form-control" placeholder="Type your name here" ng-model="comment.author"/>
		<br />
		
		<input type="submit" value="{{'ADD' | translate}}" class="form-control btn-success small-button" ng-click="saveComment()"/>
		
		<hr />
		<div class="comments-list">
			<div class="single-comment" ng-repeat="comment in postInstance.comments">
				
				<div class="content">
					{{comment.content}}
				</div>
				
				<div class="info">
					
					{{'BY' | translate}}: 
					<span>
						{{comment.author}}
					</span>
					
					{{'ON' | translate}}: 
					<span>
						{{comment.datePublished | date: 'dd/MM/yyyy'}}
					</span>
				</div>
			</div>
		</div>
		
	</div>
</div>