
<div class="row" >

    <div class="col-md-10 col-md-offset-1">
		
		<span class="pull-right cross-btn" ng-click="closePost()">
			<i class="fa fa-close" style="color: red;"> </i>
		</span>
		
		<h2>
			{{singlePost.title}}
		</h2>
		<h5>
			<i>
				Posted on: {{singlePost.publishDate | date: 'dd/MM/yyyy'}}
			</i>
			 
			 | 
			 <i>
				{{'BY' | translate}}: {{singlePost.author}}
			 </i>
		</h5>
		
		<div class="postContent">
			{{singlePost.content}}
		</div>
		
    </div>
</div>

<div class="comments" >
	<ngb-comments post-instance="singlePost"></ngb-comments>
</div>